.transactions-container {
    background-color: #f7f7f7;
    height: 46vh;
}

.transaction-table-container {
    width: 70%;
    height: 90%;
    padding: 1rem 2rem;
    float: left;
    overflow-y: auto;
}

.transaction-info-container {
    width: 30%;
    height: 100%;
    padding: 1rem 2rem;
    float: left;
}

.transaction-table{
    margin: 0 auto;
    width: 100%;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color: rgba(0, 0, 0, 0.1)}


.table-button {
    width: 80px ;
    height: 30px;
    cursor: pointer;
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.2), rgb(255, 255, 255));
    border: 1.5px solid rgb(227, 227, 227);
    text-align: center;
    border-radius: 35px;
    text-transform: uppercase;
}

.table-button:focus {
    outline: none;
}

.table-button:active {
    background-color: #ffffff;
    transform: translateY(-2px);
}

.table-button:hover {
    background-image: linear-gradient(to bottom left, rgba(0, 0, 0, 0.1), rgb(255, 255, 255));
}

#deleteBox {
    cursor: pointer;
    background: rgba(184, 0, 0, 0.77);
    color: #fff;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    width: 18px;
    height: 18px;
    border-radius: 5px;
    user-select: none;
}

#deleteBox:active {
    transform: translateY(-2px);
}